[Desktop Entry]
Version=0.1
Type=Application
Name=rpi-gpio
Comment=Rpi GPIO Configuration Tool
Exec=rpi-gpio
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;Development
Terminal=false
StartupNotify=true
StartupWMClass=rpi-gpio
Name[en_US]=Rpi GPIO
